<nav class="navbar">
  <div class="nav-left">
    <a href="/" class="brand">DevOpsMania</a>
    <a href="/">Inicio</a>

    <div class="dropdown">
      <span>Categorias</span>
      <div class="dropdown-content">
        {% for c in categorias %}
          <a class="dropdown-item" href="{% url 'categorias' c.nombre %}"> {{ c.nombre }} </a>
        {% endfor %}
      </div>
    </div>

    <a href="#">Acerca de</a>
    <a href="#">Contacto</a>
  </div>

  <div class="nav-right">
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'logout' %}">{% csrf_token %}
        <button type="submit">Log out</button>
      </form>
      <form method="post" action="{% url 'crear_post' %}">{% csrf_token %}
        <button type="submit">Crear post</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Log In</a>
      <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
  </div>
</nav>
