{% extends 'base.html' %}

{% block title %}{{ post.titulo }}{% endblock %}

{% block content %}
<article class="post-detail">

    <div class="post-header">
        <h1 class="post-title">{{ post.titulo }}</h1>
        <div class="post-date">Publicado: {{ post.publicado }}</div>
    </div>

    <hr>

    {% if post.image %}
        <div class="post-image">
            <img src="{{ post.image.url }}" alt="Imagen del post">
        </div>
    {% endif %}

    <div class="post-body">
        <p>{{ post.texto }}</p>
    </div>

    <a href="{% url 'post_list' %}" class="btn-back">⟵ Volver</a>
</article>
{% endblock %}
